<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Frankie Costa</title>
    <link rel="icon" type="image/svg+xml" href="/assets/fc-favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&family=Covered+By+Your+Grace&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">

    <link rel="stylesheet" href="/styles/tokens.css">
    <link rel="stylesheet" href="/styles/site.css">
</head>
<body class="flex-column flex-align-center margin-0">
    <div class="flex-column flex-align-center margin-top-1 gap-md" id="site-wrapper">
        {% include "partials/nav.html" %}
        <div class="padding-vert-xl flex-column flex-align-center gap-4xl full-width" id="content">
            {{ content }}
        </div>
    </div>
    {% include "partials/footer.html" %}

    <script src="/scripts/nav-toggle.js" defer></script>
    {% for src in scripts %}
    <script src="{{ src }}" defer></script>
    {% endfor %}
</body>
</html>
