---
layout: layout-site.html
---
<section class="flex-column page-max-width gap-xl" id="book-container">
{% if page.url != indexPath %}
    <div class="flex-row gap-xl flex-wrap" id="book-header">
        <img src="{{ image }}" alt="Cover of {{ title }}" class="book-image rounded shadow-md" width="200" />
        <div class="flex-column gap-sm">
            <h1 class="text-h1 font-mono">{{ title }}</h1>
            <p class="text-h5 muted">by {{ author }}</p>
            {% if topics %}
            <div class="cluster">
                {% for topic in topics %}<span class="tag tag--default border-1">{{ topic }}</span>{% endfor %}
            </div>
            {% endif %}
            {% if url %}
            <p><a href="{{ url }}" target="_blank" rel="noopener noreferrer">View on OpenLibrary</a></p>
            {% endif %}
        </div>
    </div>
    <div class="readable">
        {{ content }}
    </div>
{% else %}
    <h1 class="content-title">{{ title }}</h1>
    {{ content }}
{% endif %}
</section>
