<nav class="theme-nav flex-row flex-wrap gap-md flex-align-center space-between padding-vert-md padding-horizon-lg page-max-width" id="nav-container">
    <a class="main-logo flex-row flex-align-center cursor-default trans-all-200" id="nav-logo-container" href="/">
        <p class="border-thick-black bold black shadow-sm" id="nav-logo-text">FC</p>
    </a>

    <div class="flex-row flex-wrap gap-md">
        <button id="nav-menu-btn" class="btn trans-all-200">
            <span class="material-icons">menu</span>
        </button>
        <div class="nav-button-container flex-row flex-wrap gap-md" id="nav-button-container">
            <div class="cluster">
                <a class="btn trans-all-200{% if page.url == '/' %} selected{% endif %}" href="/">About</a>
                <a class="btn trans-all-200{% if page.url == '/resume/' %} selected{% endif %}" href="/resume/">Résumé</a>
                <a class="btn trans-all-200{% if page.url contains '/projects/' %} selected{% endif %}" href="/projects/">Projects</a>
                <a class="btn trans-all-200{% if page.url contains '/bookshelf/' %} selected{% endif %}" href="/bookshelf/">Bookshelf</a>
                <a class="btn trans-all-200{% if page.url == '/contact/' %} selected{% endif %}" href="/contact/">Contact</a>
            </div>

            <div class="nav-externals flex-row flex-wrap flex-align-center justify-center gap-sm">
                <a class="btn flex-row flex-align-center justify-center nav-external-button trans-all-200" href="https://www.linkedin.com/in/frankie-j-costa" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/In-Black.png" width="24px" height="24px" alt="LinkedIn logo" eleventy:ignore />
                </a>
                <a class="btn flex-row flex-align-center justify-center nav-external-button trans-all-200" href="https://github.com/costa-frankie" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/github-mark.svg" width="24px" height="24px" alt="GitHub logo" eleventy:ignore />
                </a>
            </div>
        </div>
    </div>
</nav>
